@font-face {
  font-family: radnika-black;
  src: url("fonts/Radnika-Black.otf");
}
@font-face {
  font-family: radnika-bold;
  src: url("fonts/Radnika-Bold.otf");
}
@font-face {
  font-family: radnika-regular;
  src: url("fonts/Radnika-Regular.otf");
}
@font-face {
  font-family: radnika-medium;
  src: url("fonts/Radnika-Medium.otf");
}
@font-face {
  font-family: stratum-medium;
  src: url("fonts/Stratum2-Medium.otf");
}
@font-face {
  font-family: stratum-regular;
  src: url("fonts/Stratum2-Regular.otf");
}
h1 {
  font-family: radnika-black;
  font-size: 35px;
  text-align: center;
  margin: 0;
}
h2 {
  font-family: radnika-bold;
  font-size: 25px;
  margin: 0;
}
h3 {
  font-family: radnika-medium;
  font-size: 14px;
}
h4 {
  font-family: radnika-medium;
  font-size: 15px;
}
p {
  font-family: radnika-regular;
  font-size: 15px;
}
li {
  font-family: radnika-regular;
  font-size: 15px;
}
.footnote {
  font-size: 12px;
}
.chart-title {
  margin: 0;
  font-size: 17px;
}
.chart-subtext {
  font-family: radnika-regular;
  font-size: 11px;
  margin: 0;
  border-bottom: solid 1px black;
}
.chart-label {
  font-size: 13px;
  font-family: radnika-bold;
  margin: 0;
  margin-top: 0.5em;
}
body,html {
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.7;
}
section {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 750px;
}
#title {
  border-bottom: solid 1px black;
}
#title-container {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 500px;
}
#options-container {
  width: 250px;
  float: right;
  height: 0px;
}
#highlight-container {
  float: left;
}
#filter-container {
  float: right;
}
.svg-chart {
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
}
#svgSection-scoredthrows {
  float: right;
  width: 60%;
  margin-left: 30px;
  margin-right: 10px;
  height: 450px;
  margin-top: 0;
  margin-bottom: 0;
}
#svgSection-turnover {
  float: right;
  width: 60%;
  margin-left: 30px;
  margin-right: 10px;
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
}
.svg-section {
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: solid 1px black;
}
#navigation-container {
  border-top: solid 1px black;
}
#back {
  float: left;
  margin-bottom: 50px;
}
#forward {
  text-align: right;
  float: right;
  margin-bottom: 50px;
}
